APP_PORT=8080
APP_URL="http://localhost:${APP_PORT}"
APP_HOST="localhost"

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=""

DB_CONNECTION="mysql"
DB_HOST=mariadb
DB_PORT=3306
DB_USER="root"
DB_PASSWORD="test"
DB_DATABASE="fiber"

MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=

JWT_SECRET_KEY=secret007

JWT_ACCESS_TOKEN_EXPIRES_IN=3600 # in seconds

JWT_REFRESH_TOKEN_EXPIRES_IN=168 # in hours
